body
    background-color: #f5f6fa
    font-size: 15px
    font-family: 'Sriracha', cursive

h2,h3,h4,h5,body,html
    padding: px
    margin: 0px

.wrapper
    min-height:  100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index: 999
    .col2
        float left

.sidebar
    background-color #fff
    min-height 1vh
    .section-top
        background-image url(../images/banner.jpg)
        box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
    .logo
        display block
        margin 10px auto
        padding-top 24px
        width 15%
    .user
        color #fff
        padding 16px
        a
            color #fff
            font-size 16px