body
    background-color: #33ffe9 
    font-size: 14px
    font-family: 'Sriracha', cursive

h2,h3,h4,h5,ul,body,html
    padding: 0px
    margin: 0px

.wrapper
    min-height:  100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index: 999
        width: 17%
    .col2
        float left
        width 83%

.sidebar
    background-color #ff9f
    min-height 100vh
    .section-top
        background-color #f99f
        box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
    .logo
        display block
        margin 0px auto
        padding-top 24px
        width 32%